.dashboard-layout {
    display: flex;
    min-height: 100vh;
}


.logout-btn {
    display: block;
    margin-top: 10px;
    background: #2a0d0d;
}

.logout-btn:hover {
    background: #c4003a;
}

.dashboard-main {
    flex: 1;
    padding: 40px;
}

.dashboard-header {
    margin-bottom: 35px;
}

.dashboard-header h1 {
    font-family: 'Kode Mono', monospace;
    font-size: 32px;
}

.dashboard-header p {
    color: #bdbdbd;
    margin-top: 8px;
}

.dashboard-content {
    background: #111;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 16px;
    padding: 30px;
}

.dashboard-content h2 {
    font-family: 'Kode Mono', monospace;
    margin-bottom: 10px;
}