@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:'Poppins', sans-serif;
    overflow-x:hidden;
}

.hero{
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-image{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(
        to bottom,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.8)
    );
    z-index:1;
}

.hero-content{
    position:relative;
    z-index:2;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:48px;
    margin-bottom:20px;
    font-family:'Press Start 2P', cursive;
    color:#fff;
}

.hero-content p{
    font-size:18px;
    margin-bottom:30px;
    color:#d1d1d1;
}

.hero-content button{
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#ff0080;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.hero-content button:hover{
    transform:scale(1.05);
    background:#ff1493;
}

/* MAIN */

.container{
    width:100%;
    padding:50px 80px;
}

.games-section h2{
    font-family:'Press Start 2P', cursive;
    font-size:28px;
    margin-bottom:50px;

    background:linear-gradient(to right, #ff0080, #3a0d3f);
    padding:25px;
}

/* SLIDER */

.slider-container{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.games-slider{
    display:flex;
    gap:25px;
    overflow-x:auto;
    scroll-behavior:smooth;
    scrollbar-width:none;
    padding:20px;
}

.games-slider::-webkit-scrollbar{
    display:none;
}

.game-card{
    min-width:180px;
    height:260px;
    background:#111;
    border-radius:6px;
    overflow:hidden;
    transition:0.4s;
}

.game-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.game-card:hover{
    transform:scale(1.06);
}

/* BUTTONS */

.slider-btn{
    width:55px;
    height:55px;
    border-radius:50%;
    border:none;
    background:#2a2a2a;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:0.3s;
}

.slider-btn:hover{
    background:#ff00aa;
}

/* STATS */

.stats{
    width:100%;
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:80px;
}

.stat-box{
    width:220px;
    background:#1d1d1d;
    border-radius:18px;
    padding:30px;
    text-align:center;
}

.stat-box h3{
    color:#00e5ff;
    margin-bottom:20px;
    font-family:'Press Start 2P', cursive;
    font-size:14px;
}

.stat-box span{
    font-size:24px;
    font-weight:600;
}

/* RESPONSIVO */

@media(max-width:900px){

    .header{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:20px;
    }

    .menu{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .container{
        padding:40px 20px;
    }

    .games-section h2{
        font-size:18px;
    }

    .stats{
        flex-direction:column;
        align-items:center;
    }

    .footer{
        flex-direction:column;
    }

}